<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Background changer on mobile phone</h2>
                <hr class="light">
                <p class="text-faded">No green screen required. Record video with your smartphone.</p>
                <div class="embed-container">
                    <iframe
                            src="https://www.youtube.com/embed/MzH-hpwBaEk"
                            frameborder="0"
                            allow="autoplay; encrypted-media"
                            allowfullscreen="">
                    </iframe>
                </div>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
